<section data-ng-controller="HomeController">
  <br/>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Hi{{ authentication.user ? ' ' + authentication.user.firstName : ''}}! Welcome to my Business App
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" data-ui-sref="products.list" target="_blank">View Products</a><span
              data-ng-if="!authentication.user"> Or
        <a class="btn btn-primary btn-lg" data-ui-sref="authentication.signup">Sign Up</a> to add Projects</span>
      </p>
    </div>
  </div>
   <br/>
  <br/><p class="small">codelero, dude in love with MEAN.JS</p>

</section>
